*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
select,
button {
  width: 100%;
  height: 100%;
  background: none;
  border: 1px solid silver;
  border-radius: 6px;
}

.title {
  margin-block: 1em;
  text-align: center;
}

main {
  width: 80%;
  margin: 0 auto;
  outline: 1px solid pink;
}

.header {
  padding-block: .5em;
  padding-inline: .2em;
  outline: 1px solid green;
}

.header > form {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.form-input, button {
  height: 40px;
}

.form-input:first-child {
  width: 60px;
}

.form-input:nth-child(2) {
  width: 500px;
}

.colors {}