*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #eee;
}

input,
select,
button {
  width: 100%;
  height: 100%;
  background: none;
  border: 1px solid silver;
  border-radius: 6px;
}

.title {
  margin-block: 1em;
  text-align: center;
}

main {
  width: 80%;
  margin: 0 auto;
  background: #fff;
  border-radius: 6px;
}

.header {
  padding-block: .5em;
  padding-inline: .2em;
}

.header > form {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.form-input, button {
  height: 40px;
}

.form-input:first-child {
  width: 60px;
}

.form-input:nth-child(2) {
  flex-grow: 2;
}

.colors {
  padding-inline: .2em;
  display: flex;
  justify-content: space-between;
  height: 400px;
}

.colors > * {
  flex: 1 1 auto;
}

.color-card {
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: center;
}

.color-display {
  background: pink;
  flex: 3 1 auto;
}